
body {
  background: #CEF;
}

.search-container {
  float: left;
  margin: 5px;
  width: 50%;
}

.weather-container {
  float: right;
  margin: 5px;
  width: 40%;
}

.search {
  width: 30rem;
  margin: 50px auto 10px auto;
  text-align: right;
  position: relative;
}
.search-box {
  border: 4px solid #eeeee;
  border-radius: 2px;
  font-size: 2rem;
  width: 100%;
  padding: 1rem;
  transition: width 0.3s;
  -webkit-transition: width 0.3s;
}

.hint {
  width: 100%;
  text-align: left;
}

.search-btn {
  height: 60%;
  width: 4em;
  margin-top: -1em;
  position: absolute;
  top: 53%;
  right: 0.4rem;

  opacity: 0.5;
  background-color: transparent;
  border: 0;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url(./search_btn.png);
}
.search-btn:hover {
  outline: none;
  opacity: 0.4;
  cursor: pointer;
}
.search-btn:focus {
  outline: none;
  opacity: 0.6;
}

ul.options {
  display: block;
  list-style: none;
  width: 30rem;
  transition: width 0.3s;
  margin: auto;
  position: relative;
}

ul.options li {
  display: block;
  background: white;
  margin: 10px auto;
  padding: 10px;
  font-size: 1.2rem;
  width: 100%;
  border-radius: 2px;
}
ul.options li:hover {
  font-weight: bold;
  color: #aaaaaa;
  cursor: pointer;
  transition: 0.3s all;
}

ul.options li.option-active {
  background: whitesmoke;
  font-size: 1.5rem;
}
